// Override Bootstrap variables with STM values

$font-family-sans-serif: 'Roboto', 'Arial', sans-serif;

// Colors
$blue:     #0F57AD;
$purple:   #992F9E;
$pink:     #FFC7CA;
$red:      #F26666;
$orange:   #FF9A4A;
$yellow:   #F7AC32;
$green:    #2BBA38;
$teal:     #53D1BF;
$cyan:     #13B3F2;

$primary:       $blue;
$secondary:     #7D8FAA;
$success:       $green;
$info:          $purple;
$warning:       #FFCA2C;
$danger:        $red;
$light:         #F0EFF2;
$dark:          #212529;

$chart1:  #0FA970;
$chart2:  #408AA8;
$chart3:  #0F57AD;
$chart4:  #992F9E;
$chart5:  #F7AC32;
$chart6:  #284174;
$chart7:  #68ABC0;
$chart8:  #B95FBC;
$chart9:  #E24040;
$chart10: #7D8FAA;

$theme-colors: (
    "primary":       $primary,
    "secondary":     $secondary,
    "success":       $success,
    "info":          $info,
    "warning":       $warning,
    "danger":        $danger,
    "light":         $light,
    "dark":          $dark,
    "chart1":        $chart1,
    "chart2":        $chart2,
    "chart3":        $chart3,
    "chart4":        $chart4,
    "chart5":        $chart5,
    "chart6":        $chart6,
    "chart7":        $chart7,
    "chart8":        $chart8,
    "chart9":        $chart9,
    "chart10":       $chart10,
);
