.main-content
{
    margin-top: 30px;
}
img.logo
{
    max-height: 75px;
}
.small
{
    font-size: 0.85rem;
}
.smaller
{
    font-size: 0.75rem;
}
.last-5-form span
{
    font-size: 9px;
    padding: 4px;
    border-radius: 3px;
}

th.dt-ordering-desc,
th.dt-ordering-asc
{
    position: relative;

    &:after
    {
        position: absolute;
        right: 0;
        display: inline-block;
        color: #999;
        font-family: "bootstrap-icons" !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
    }
}
th.dt-ordering-desc:after
{
    content: "\F128";
}
th.dt-ordering-asc:after
{
    content: "\F148";
}

.select2-container
{
    > span.selection > .select2-selection--single
    {
        height: auto;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);

        > .select2-selection__rendered
        {
            line-height: normal;
            padding: 0;
            display: inline;
        }

    }
    .select2-results__option
    {
        font-size: small;
    }
}
