.event-timeline
{
    background-color: var(--bs-light);
    position: relative;
    margin: 10px auto;
    padding: 15px;

    // draw the line down the center of the timeline
    &:after
    {
        content: '';
        position: absolute;
        width: 1px;
        background: #bbb;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
    }

    .event
    {
        background-color: white;
        position: relative;
        width: calc(50% - 15px);
        padding: 15px;
        color: #999;

        &.home
        {
            left: 0;
            margin-right: 15px;

            + .home
            {
                margin-top: 10px;
            }
        }
        &.away
        {
            left: 50%;
            margin-left: 15px;

            + .away
            {
                margin-top: 10px;
            }
        }

        .header
        {
            border-bottom: 1px solid #eee;
            margin-bottom: 5px;
            padding: 5px 0;
        }

        .details .xg
        {
            font-weight: bold;

            span
            {
                display: inline-block;
                padding: 10px;
                color: var(--bs-secondary);
                font-weight: normal;
            }
        }

        // give a little pop to show managed player evenets
        &.managed
        {
            color: var(--bs-dark-text-emphasis);

            .details b
            {
                color: var(--bs-info);
            }
        }

        // specific events

        &.us.goal
        {
            color: var(--bs-body-color);
            border-color: var(--bs-primary-border-subtle) !important;

            &.managed
            {
                background: var(--bs-primary-bg-subtle) !important;

                .details b
                {
                    color: var(--bs-body-color);
                }
            }

            .header
            {
                border-color: var(--bs-primary-border-subtle) !important;
                color: var(--bs-primary);
            }
        }

        &.sub_in .icon
        {
            color: $danger;
            font-size: 18px;
        }
        &.sub_out .icon
        {
            color: $success;
            font-size: 18px;
        }

        &.yellow_card
        {
            .header
            {
                border-color: var(--bs-warning) !important;
                color: var(--bs-warning);
            }
        }
        &.red_card
        {
            .header
            {
                border-color: var(--bs-danger) !important;
                color: var(--bs-danger);
            }
        }
    }
}
