#filter-options 
{
    .select2-selection--single
    {
        padding: 0.157rem 2.25rem 0.157rem 0.75rem;
    }
    .select2-results__option
    {
        font-size: smaller;
    }
}
#game-preview
{
    .progress
    {
        background-color: #bbb;

        .progress-bar
        {
            background-color: #555;
        }
    }
}
