@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#live
{
    .list-group-radio 
    {
        i
        {
            z-index: 2;
            margin-top: -.75em;
        }
        .form-check-input
        {
            z-index: 2;
            margin-top: -.5em;

            &:checked + .list-group-item
            {
                background-color: var(--bs-body);
                border-color: var(--bs-primary);
                box-shadow: 0 0 0 2px var(--bs-primary);
            }
        }
        .list-group-item
        {
            cursor: pointer;
            border-radius: .5rem;
            padding-left: 3.75rem;

            &:hover
            {
                background-color: var(--bs-secondary-bg);
            }
        }
    }

    #game-controls
    {
        // Game progression
        // initial > formation > first > half > second
        &.initial,
        &.formation
        {
            #home-score { display: none; }
            #away-score { display: none; }
            #start-game { display: inline-block; }
            #timer { display: none; }
            #end-half { display: none; }
            #second-half-form { display: none; }
            #end-game { display: none; }
        }
        &.first,
        &.half,
        &.second
        {
            #home-score { display: block; }
            #away-score { display: block; }
            #start-game { display: none; }
            #timer { display: block; }
            #end-half { display: inline-block; }
            #second-half-form { display: none; }
            #end-game { display: none; }
        }
        &.half
        {
            #timer { display: block; }
            #end-half { display: none; }
            #second-half-form { display: block; }
        }
        &.second
        {
            #end-half { display: none; }
            #end-game { display: inline-block; }
        }

        #home-score,
        #away-score
        {
            span.goal_against,
            span.more_against
            {
                cursor: pointer;

                &:hover
                {
                    color: #999;
                }
            }
        }

        #current-formation > span.badge
        {
            cursor: pointer;
        }

        #timer
        {
            cursor: pointer;

            &.paused
            {
                animation: pulse 2s infinite;
            }
        }
    }

    #additional-modal
    {
        #player_id > option[disabled]
        {
            display: none;
        }
    }

    #game-details
    {
        .progress
        {
            background-color: #bbb;
            height: 8px;

            .progress-bar
            {
                background-color: #555;
            }
        }
    }

    .btn-scale-0,
    .btn-scale-1
    {
        background-color: #dc3545;
        padding: 6px 10px;
    }
    .btn-scale-2,
    .btn-scale-3
    {
        background-color: #fd7e14;
        padding: 6px 10px;
    }
    .btn-scale-4,
    .btn-scale-5
    {
        background-color: #ffc107;
        padding: 6px 10px;
    }
    .btn-scale-6,
    .btn-scale-7
    {
        background-color: #28a745;
        padding: 6px 10px;
    }
    .btn-scale-8,
    .btn-scale-9
    {
        background-color: #1e7e34;
        padding: 6px 10px;
    }
    .btn-check:checked + .btn
    {
        border-color: transparent;
    }

    @media only screen and (max-width: 500px)
    {
        .bg-dark
        {
            display: none;
        }
        .main-content
        {
            margin-top: 12px;

            img.logo
            {
                max-width: 50px;
            }

            .team-name
            {
                display: none;
            }

            #formation-form > select,
            #formation-form > input
            {
                width: 100% !important;
            }
        }
    }
}
