#me
{
    .list-group-radio 
    {
        i
        {
            z-index: 2;
            margin-top: -.75em;
        }
        .form-check-input
        {
            z-index: 2;
            margin-top: -.5em;

            &:checked + .list-group-item
            {
                background-color: var(--bs-body);
                border-color: var(--bs-primary);
                box-shadow: 0 0 0 2px var(--bs-primary);
            }
        }
        .list-group-item
        {
            cursor: pointer;
            border-radius: .5rem;
            padding-left: 3.75rem;

            &:hover
            {
                background-color: var(--bs-secondary-bg);
            }
        }
    }
}
