#rosters
{
    .card
    {
        max-width: 400px;
    }
    .player-number
    {
        width: 30px;
    }
    .add
    {
        font-weight: bold;
        color: green;
    }
    .rem
    {
        font-weight: bold;
        color: red;
    }

    .list-group-item
    {
        .rem-roster-player
        {
            display: none;
        }
        &:hover
        {
            .rem-roster-player
            {
                display: inline-block;
            }
        }
    }
}
