#teams
{
    #search
    {
        border: none;
        font-size: 30px;
        font-weight: bold;
        color: #999;

        &:focus-visible
        {
            outline: none;
        }
    }

    table 
    {
        th.club-name
        {
            width: 40%;
        }
        th.teams
        {
            width: 115px;
        }

        td.club-name 
        {
            cursor: pointer;

            > span
            {
                display: none;
            }
            &:hover
            {
                text-decoration: underline;

                > span
                {
                    display: inline-block;
                    top: 25px;
                    right: 21px;
                }
            }
        }
    }

    img.logo
    {
        width: 50px;
    }
}

@include media-breakpoint-down(lg) {
    #teams
    {
        table 
        {
            th.club-name,
            th.teams
            {
                width: auto;
            }
        }

        img.logo
        {
            width: 35px;
        }
    }
}
